@charset "utf-8";
@import "normalize";

@font-face {
  font-family: BentonSans;
  src: url("/fonts/BentonSansRegular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

@font-face {
  font-family: BentonSans;
  src: url("/fonts/BentonSansMedium.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased
}

::selection {
  background: #ff0; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff0; /* Gecko Browsers */
}

html {
  line-height: 1.5em;
  font-family: "BentonSans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 15px;
  color: #000;

  @media screen and (min-width: 500px) {
    font-size: 14px;
  }
}

.wrap {
  padding: 15px;
  max-width: 440px;

  @media screen and (min-width: 500px) {
    padding: 60px 80px;
  }
}

p {
  margin-bottom: 1.3em;

  @media screen and (min-width: 500px) {
    margin-bottom: 1.9em;
  }

  &.emoji {
    font-size: 1.5em;
  }
}

a {
  text-decoration: none;
  border-bottom: 1px solid #000;
  color: #000;

  &:hover {
    border-bottom: 1px solid #ccc;
  }
}

em {
  font-weight: 600;
  font-style: normal;
}

// h1 {
//   margin: 20px;
//   font-size:60px;
//   font-weight: 400;
//   font-family: 
//   letter-spacing: 2px;

//   @media (max-width: 700px) {
//     font-size: 30px;
//   }
// }