---
title: Studiomile - Product Design Studio
---
<p class="emoji">👋 😊</p>

<p><em>Studiomile</em> is a product design studio based in Oakland, California. We strive to build helpful software for busy people.</p>

<p>Most recently, Studiomile worked with <a target="_blank" href="https://www.dropbox.com/">Dropbox</a> to build products that helped transition the company from file storage service to <a target="_blank" href="https://www.dropbox.com/productivity">team productivity suite</a>.</p>

<p>We are taking on a limited set of projects and working on ventures of our own. If you’d like to partner, say hello, or make a new friend, please <a href="mailto:alex@alexmilesdesign.com">email us</a> or follow us on <a target="_blank" href="http://twitter.com/studiomile_">twitter</a>.</p>


